html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  height: 100vh; /* full page vh=viewport height vw=viewport width*/
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 0.5fr;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}

.app.collapsed {
  grid-template-columns: 0fr 1fr 0fr; /* Aside weg */
  grid-template-areas:
    "header header header"
    " main main ."
    "footer footer footer";
}

.app.collapsed aside {
  display: none;
}

header {
  grid-area: header;
  background: #fde703;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; /* optional: Abstand innen */
}

footer {
  grid-area: footer;
  background: #fde703;
}

aside {
  grid-area: aside;
  background: lightgray;
}

main {
  grid-area: main;
  background: white;
}
