@import "leaflet/dist/leaflet.css";
.label-style {
  background: white;
  border: none;
  color: red;
  font-weight: bold;
  font-size: 14px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app {
  display: grid;
  height: 100vh; /* full page vh=viewport height vw=viewport width*/
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 8fr 0.5fr;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}

.app.collapsed {
  grid-template-columns: 1fr 0fr; /* Aside weg */
  grid-template-areas:
    "header header header"
    " main main ."
    "footer footer footer";
}

.app.collapsed aside {
  display: none;
}

header {
  grid-area: header;
  background: #fde703;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem; /* optional: Abstand innen */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 10vh;
}

footer {
  grid-area: footer;
  background: #fde703;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

aside {
  grid-area: aside;
  background: lightgray;
}

main {
  grid-area: main;
  background: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.grafik {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.titel {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#grafikTitel {
  margin-bottom: -10px;
}

#grafikUntertitel {
  margin-top: 0px;
  margin-bottom: 0px;
}

.achsbeschriftung {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  column-gap: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  white-space: nowrap;
}

.karte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
